In [1]:
import pandas as pd
import scoretools as sts
import numpy as np
import importlib

In [2]:
df = pd.read_csv("data/score_test_dat.csv")

In [3]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Survived2,scr1,scr2
0,0,3,1,22.0,1,0,7.2500,2.0,2.0,0,997,984
1,1,1,0,38.0,1,0,71.2833,2.0,0.0,1,678,539
2,1,3,0,26.0,0,0,7.9250,2.0,2.0,1,887,821
3,1,1,0,35.0,1,0,53.1000,2.0,2.0,1,824,604
4,0,3,1,35.0,0,0,8.0500,2.0,2.0,0,992,986

In [4]:
sts.utils.break_methods.bins(x=df['Age'], bins=4).value_counts(sort=False)

(0.419, 22.0]    231
(22.0, 30.0]     355
(30.0, 35.0]      88
(35.0, 80.0]     217
Name: Age, dtype: int64

In [5]:
sts.utils.break_methods.breaks(x=df.Age, breaks=[1, 22, 50, 100]).value_counts(sort=False)

(0.999, 22.0]    224
(22.0, 50.0]     596
(50.0, 100.0]     64
Name: Age, dtype: int64

In [6]:
sts.utils.break_methods.percentile(x=df.Age, percentiles=[1, 25, 50, 100], exceptions=[22]).value_counts(sort=False)

(0.999, 22.0]    197
(22.0, 30.0]     355
(30.0, 80.0]     305
22                27
Name: Age, dtype: int64

In [7]:
np.percentile(df.Age, [0, 1, 25, 50, 100])

array([ 0.42,  1.  , 22.  , 30.  , 80.  ])

In [8]:
sts.freq_tab("Age", data=df)

       Frequency   Percent  Cumulative Frequency  Cumulative Percent
Age
0.42           1  0.001122                     1            0.001122
0.67           1  0.001122                     2            0.002245
0.75           2  0.002245                     4            0.004489
0.83           2  0.002245                     6            0.006734
0.92           1  0.001122                     7            0.007856
...          ...       ...                   ...                 ...
70.00          2  0.002245                   886            0.994388
70.50          1  0.001122                   887            0.995511
71.00          2  0.002245                   889            0.997755
74.00          1  0.001122                   890            0.998878
80.00          1  0.001122                   891            1.000000

[88 rows x 4 columns]